@page "/admin/video/{VideoId:guid}"
@using Keywords.Services.Interfaces
@using Keywords.API.Client.Generated
@inject IKeywordService _keywordService
@inject ISwapVideoService _videoService
@inject IIndexerService _indexerService
<PageTitle>Video</PageTitle>

@if (_video != null)
{
    <RadzenBreadCrumb Style="color: black !important">
        <RadzenBreadCrumbItem Text="Videos" Path="/admin" />
        <RadzenBreadCrumbItem Text="Video overview"/>
    </RadzenBreadCrumb>
    <RadzenStack Orientation="Orientation.Vertical" Style="margin-top: 2%;" >
        <RadzenStack Orientation="Orientation.Vertical">
            <RadzenStack  Orientation="Orientation.Horizontal">
                <RadzenStack>
                    <div class="col-md-9">
                        <RadzenHtml>
                            <video controls width="450" >
                                <source src="@_video.VideoLink" type="video/mp4">
                            </video>
                        </RadzenHtml>
                    </div>
                </RadzenStack>
                <RadzenStack Orientation="Orientation.Horizontal" Style="width: 100%">
                    <RadzenCard Style="background-color:  #F1F5F9; width: 40%">
                        <RadzenStack Orientation="Orientation.Vertical">
                            <RadzenText TextStyle="TextStyle.Body1"><b>Title: </b>@_video.Name</RadzenText>
                            <RadzenText TextStyle="TextStyle.Body1"><b>Description: </b> @_video.Description</RadzenText>
                        </RadzenStack>
                    </RadzenCard>
                    <RadzenStack Orientation="Orientation.Horizontal" Style="width: 60%" JustifyContent="JustifyContent.SpaceBetween">
                        <RadzenCard Style="background-color:  #F1F5F9; width: 50%">
                            <RadzenStack Orientation="Orientation.Vertical">
                                <RadzenText TextStyle="TextStyle.H6" TextAlign="TextAlign.Center">Belongs to Module:</RadzenText>
                                <RadzenText TextStyle="TextStyle.H1" TextAlign="TextAlign.Center">4</RadzenText>
                            </RadzenStack>
                        </RadzenCard>
                        <RadzenCard Style="background-color:  #F1F5F9;  width: 50%">
                            <RadzenStack Orientation="Orientation.Vertical">
                                <RadzenText TextStyle="TextStyle.H6" TextAlign="TextAlign.Center">Keywords Published:</RadzenText>
                                <RadzenText TextStyle="TextStyle.H1" TextAlign="TextAlign.Center">@_totalPublished</RadzenText>
                            </RadzenStack>
                        </RadzenCard>
                    </RadzenStack>
                </RadzenStack>
                </RadzenStack>
    </RadzenStack>
        <RadzenStack>
            @if (_keywords != null)

            {
                <RadzenStack Style="margin-top: 2%; background-color:  #F1F5F9; border: 3px #48494A;" JustifyContent="JustifyContent.Center">
                   
                    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceAround">
                        <RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.Center">
                            <RadzenText TextStyle="TextStyle.H3">Keywords Panel</RadzenText>
                            <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center">
                            <RadzenLabel Text="See only published: "/>
                            <RadzenCheckBox TValue="bool" Value="@_published" Change=@(args => SeeOnlyPublished(!_published))/>
                            </RadzenStack>
                        </RadzenStack>
                    </RadzenStack>
                    <RadzenStack Orientation="Orientation.Horizontal" Gap="0.2rem" Wrap="FlexWrap.Wrap">
                        @foreach (var keyword in _toShow!)
                        {
                            <RadzenCard Style="background-color: #F1F5F9; width: 250px; height: 80px">
                                <RadzenStack Orientation="Orientation.Horizontal">
                                    <RadzenLabel Text="@keyword.Content" Style="width: 95%; flex-wrap: wrap !important"/>
                                    <RadzenCheckBox TValue="bool" Value=@keyword.IsPublished Change=@(args => ChangePublishState(keyword))/>
                                </RadzenStack>
                            </RadzenCard>
                        }
                    </RadzenStack>
                </RadzenStack>
              
            }
            else if (_indexerProgress != null)
            {
                <h3>Processing video</h3>
                <p><strong>Status: @_indexerProgress.State</strong></p>
                <RadzenProgressBarCircular Style="height: 100px; width: 100px;" ProgressBarStyle="ProgressBarStyle.Primary" @bind-Value="@_progress" Mode="ProgressBarMode.Indeterminate"/>

            }
            else
            {
                <RadzenLabel Text="Oops, no keywords yet."/>
                <RadzenButton Disabled="@_disableIndexButton" Text="Index" ButtonStyle="ButtonStyle.Primary" Click="IndexVideo"/>
            }
        </RadzenStack>
    </RadzenStack>
    
    }
else
{  <RadzenStack JustifyContent="JustifyContent.Center"  AlignItems="AlignItems.Center" Style="margin-top: 10%">
   <RadzenProgressBarCircular Style="height: 300px; width: 300px;" ProgressBarStyle="ProgressBarStyle.Primary" Mode="ProgressBarMode.Indeterminate"/>
   </RadzenStack>
}

@code
{
    [Parameter]
    public Guid VideoId { get; set; }

    private SwapVideos.API.Client.Generated.Video? _video;
    IndexerProgress? _indexerProgress;
    private double _progress;
    private PaginatedKeywordsResponse? _keywords;
    private bool _disableIndexButton;
    private int pageSize = 50;
    private List<Keyword>? _toShow;
    private bool _published;
    private int _totalPublished;
    
    protected override async Task OnParametersSetAsync()
    {
        await IndexerTrigger();
        UpdateCount();
    }

    private void UpdateCount()
    {
        _totalPublished = _keywords?.Keywords.Count(x => x.IsPublished) ?? 0;
    }

    private async Task GetKeywordsAsync()
    {
        var keywordsRequest = new PaginatedKeywordsRequest
        {
            Page = 0,
            Size = pageSize,
            VideoId = VideoId
        };
        try
        {
            _keywords = await _keywordService.GetAllKeywordsByVideoIdAsync(keywordsRequest);
            _toShow = _keywords?.Keywords;
        }
        catch (ApiException e) when (e.StatusCode == 404)
        {
            try
            {
                _indexerProgress = await _indexerService.GetIndexerProgressAsync(VideoId);
                _progress = ToDouble(_indexerProgress.ProcessingProgress);
            }
            catch (ApiException ex) when (ex.StatusCode == 404)
            {
    // Ignored
            }
        }
    }

    private async Task IndexerTrigger()
    {
        _video = await _videoService.GetVideoAsync(VideoId);
        await GetKeywordsAsync();

        if (_keywords != null || _indexerProgress == null)
        {
            return;
        }
        await InvokeAsync(StateHasChanged);
        using var periodicTimer = new PeriodicTimer(TimeSpan.FromSeconds(5));
        while (await periodicTimer.WaitForNextTickAsync())
        {
            _indexerProgress = await _indexerService.GetIndexerProgressAsync(VideoId);
            _progress = ToDouble(_indexerProgress.ProcessingProgress);
            if (_indexerProgress.State is IndexerProgressState.Succeeded)
            {
                await GetKeywordsAsync();
                await InvokeAsync(StateHasChanged);
                break;
            }

            await InvokeAsync(StateHasChanged);
            if (_indexerProgress.State is IndexerProgressState.Failed)
            {
                break;
            }
        }
    }

    private async Task IndexVideo()
    {
        if (_video?.Id != null)
        {
            await _indexerService.IndexVideoAsync(_video.Id.Value, _video.VideoLink);
            _disableIndexButton = true;
            _indexerProgress = await _indexerService.GetIndexerProgressAsync(VideoId);
            await IndexerTrigger();
        }
    }

    private static double ToDouble(string? progress)
    {
        var toConvert = progress?.Trim('%');
        if (double.TryParse(toConvert, out var result))
        {
            return result;
        }
        return 98;
    }
    
    private async Task ChangePublishState(Keyword keyword)
    {
        var keywordId = keyword.Id;
        keyword.IsPublished = !keyword.IsPublished;
        await _keywordService.PublishKeywordAsync(keywordId, keyword.IsPublished);
        var keywordsRequest = new PaginatedKeywordsRequest
        {
            Page = 0,
            Size = pageSize,
            VideoId = VideoId
        };
        _keywords = await _keywordService.GetAllKeywordsByVideoIdAsync(keywordsRequest);
        UpdateCount();
        SeeOnlyPublished(_published);
    }
    
    private void SeeOnlyPublished(bool published)
    {
        _published = published;
        _toShow = _published ? _keywords?.Keywords.Where(keyword => keyword.IsPublished).ToList() : _keywords?.Keywords;
    }
}